@color-active: #ff9900;
@page-bg-color: #eee;
@box-border-radius: 15px;
@box-padding: 15px;
@small-margin: 10px;
@module-bg-color: #fff;
@btn-border-radius: 30px;
@btn-padding: 10px;
@main-fontsize: 16px;
@tip-color: #ddd;
@main-color: #666;
@sub-color: #999;
@icon-fontsize: 24px;
@normal-fontsize: 14px;
